<footer class="footer">
    <div class="footer__content container">
        <div class="footer__content__info">
            <img class="footer__content__info__img" src="/img/logo-footer 2.png" alt="I-LIGHTS">
            <p class="footer__content__info__text">© Technolight 2025</p>
        </div>
        <div class="footer__content__information__catalog">
            <h1 class="footer__content__information__catalog__title">Каталог товаров</h1>
            <ul class="footer__content__information__catalog__list">
                <li class="footer__content__information__catalog__list__item"><a href="/catalog?filter=Трековые светильники">Трековые светильники</a></li>
                <li class="footer__content__information__catalog__list__item"><a href="/catalog?filter=Встраиваемые светильники">Встраиваемые светильники</a></li>
                <li class="footer__content__information__catalog__list__item"><a href="/catalog?filter=Фигурные светильники">Фигурные светильники</a></li>
                <li class="footer__content__information__catalog__list__item"><a href="/catalog?filter=Светильники Армстронг">Светильники Армстронг</a></li>
                <li class="footer__content__information__catalog__list__item"><a href="/catalog?filter=Светильники Армстронг с равномерной засветкой">Светильники Армстронг с равномерной засветкой</a></li>
            </ul>
        </div>
        <div class="footer__content__information__links">
            <ul class="footer__content__information__links__list">
                <li class="footer__content__information__links__item"><a href="/">Как заказать</a></li>
                <li class="footer__content__information__links__item"><a href="/">Оплата</a></li>
                <li class="footer__content__information__links__item"><a href="/">Доставка</a></li>
                <li class="footer__content__information__links__item"><a href="/">Реквизиты компании</a></li>
                <li class="footer__content__information__links__item"><a href="/">Правовая информация</a></li>
                <li class="footer__content__information__links__item"><a href="/">FAQ</a></li>
            </ul>
        </div>
        <div class="footer__content__information__contacts">
            <ul class="footer__content__information__contacts__list">
                <li class="footer__content__information__contacts__list__item"><h1 class="footer__content__information__contacts__list__item__title">Контакты</h1></li>
                <li class="footer__content__information__contacts__list__item"><p class="footer__content__information__contacts__list__item__text"><img src="/img/Пин.svg" alt="geo-marker"><a href="https://www.google.ru/maps/place/i-Light.lv,+SIA/@56.9702639,24.1560674,18z/data=!4m6!3m5!1s0x46eece51ebd926ed:0x7efc8898eb2d44dd!8m2!3d56.970374!4d24.1567851!16s%2Fg%2F1yfh_j106?entry=ttu" style="color: inherit;" target="_blank">место магазина</a></p></li>
                <li class="footer__content__information__contacts__list__item"><p class="footer__content__information__contacts__list__item__text"><img src="/img/телефон.svg" alt="phone"><a href="tel: 74952335557" style="color: inherit;">+7 (495) 233 55 57</a></p></li>
                <li class="footer__content__information__contacts__list__item"><p class="footer__content__information__contacts__list__item__text"><img src="/img/почта.svg" alt="email">info@i-lights.ru</p></li>
            </ul>
        </div>
    </div>
</footer>

