<header class="header">
    <div class="header__content container">
        <a class="header__content__logo" href="/"><img src="/img/logo.png" alt="I-LIGHTS"></a>

        <ul class="header__content__nav">
            <li class="header__content__nav__item"><a href="/about" id="header-about">О компнаии</a></li>
            <li class="header__content__nav__item"><a href="/delivery" id="header-delivery">Доставка и оплата</a></li>
            <li class="header__content__nav__item"><a href="/basket" id="header-basket">Корзина</a></li>
            <li class="header__content__nav__item header__content__nav__item__special"><a href="/catalog" id="header-catalog"><img src="/img/add.svg" alt="add">Каталог</a></li>
        </ul>

        <ul class="header__content__contacts">
            <li class="header__content__contacts__item"><img src="/img/email.svg" alt="email">info@i-lights.ru</li>
            <li class="header__content__contacts__item header__content__contacts__item__special"><img src="/img/phone.svg" alt="phone"><a style="color: inherit;" href="tel: 74952335557">+7 (495) 233 55 57</a></li>
        </ul>

        <button type="button" class="header__content__burger">
            <ul class="header__content__burger__list">
                <li class="header__content__burger__list__item"></li>
                <li class="header__content__burger__list__item"></li>
                <li class="header__content__burger__list__item"></li>
            </ul>
        </button>
    </div>
</header>

