<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 Not Found</title>
    <%- include('../blocks/head') %>
</head>
<body>
    <main class="main__section__error-page">
        <h1 class="main__section__error-page__error-text">404</h1>
        <p class="main__section__error-page__title">Произошла ошибка. Такая страница не найдена!</p>
        <p class="main__section__error-page__desc">Приносим свое извенения, но, возможно эта страница была удалена или не существует.</p>
        <a href="/" class="main__section__error-page__link">Вернуться домой</a>
    </main>
</body>
</html>

